body {
    font-size : medium;
    color : #666666;
    font-family : Verdana, Helvetica, Arial, sans-serif;
    background-color : #cccccc;
    margin-top : 20px;
    margin-right : 20px;
    margin-bottom : 20px;
    margin-left : 20px;
    padding-bottom : 20px;
}